*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #262626;
}

li{
    list-style: none;
}

a{
    color: whitesmoke;
    text-decoration: none;
}

.navbar{
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.nav-link:hover{
    color: dodgerblue;
}

.hamburger{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: white;
}

@media (max-width: 768px) {
    .hamburger{
        display: block;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.hamburger.active .bar:first-child{
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.hamburger.active .bar:last-child{
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu{
        position: fixed;
        left: -100%;
        top: 70px;
        flex-direction: column;
        background-color: #262626;
        width: 100%;
        text-align: center;
    }

    .nav-item{
        margin: 16px 0;
    }

    .nav-menu.active{
        left: 0;
    }
}